/*
Test Selection Services

Test Selection services, owner: DevProd Services & Integrations team

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// BaselineAPIService BaselineAPI service
type BaselineAPIService service

type ApiGetBaselineStatusApiBaselineStatusGetRequest struct {
	ctx context.Context
	ApiService *BaselineAPIService
	taskId *string
	comparisonId *string
}

// Evergreen task ID
func (r ApiGetBaselineStatusApiBaselineStatusGetRequest) TaskId(taskId string) ApiGetBaselineStatusApiBaselineStatusGetRequest {
	r.taskId = &taskId
	return r
}

// Baseline comparison UUID
func (r ApiGetBaselineStatusApiBaselineStatusGetRequest) ComparisonId(comparisonId string) ApiGetBaselineStatusApiBaselineStatusGetRequest {
	r.comparisonId = &comparisonId
	return r
}

func (r ApiGetBaselineStatusApiBaselineStatusGetRequest) Execute() (*BaselineComparison, *http.Response, error) {
	return r.ApiService.GetBaselineStatusApiBaselineStatusGetExecute(r)
}

/*
GetBaselineStatusApiBaselineStatusGet Get Baseline Status

Get a baseline comparison by task ID or comparison ID.

Provide exactly one of task_id or comparison_id as a query parameter.

:param task_id: Optional Evergreen task ID
:param comparison_id: Optional baseline comparison UUID
:return: BaselineComparison model with full comparison data
:raises HTTPException: 400 if neither or both IDs provided, 404 if no comparison found

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetBaselineStatusApiBaselineStatusGetRequest
*/
func (a *BaselineAPIService) GetBaselineStatusApiBaselineStatusGet(ctx context.Context) ApiGetBaselineStatusApiBaselineStatusGetRequest {
	return ApiGetBaselineStatusApiBaselineStatusGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return BaselineComparison
func (a *BaselineAPIService) GetBaselineStatusApiBaselineStatusGetExecute(r ApiGetBaselineStatusApiBaselineStatusGetRequest) (*BaselineComparison, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *BaselineComparison
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BaselineAPIService.GetBaselineStatusApiBaselineStatusGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/baseline/status"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.taskId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "task_id", r.taskId, "form", "")
	}
	if r.comparisonId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "comparison_id", r.comparisonId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
