openapi: 3.0.1
info:
  contact: {}
  title: Evergreen REST v2 API
  version: "3"
externalDocs:
  description: "Click here for information on authentication, pagination, and other\
    \ details."
  url: https://docs.devprod.prod.corp.mongodb.com/evergreen/API/REST-V2-Usage/
servers:
- url: https://evergreen.mongodb.com/rest/v2
tags:
- description: Admins are users with high-level permissions within Evergreen.
  name: admin
- description: "Annotations are added by users, usually programmatically, to track\
    \ known and suspected causes of task failures."
  name: annotations
- description: A build is a set of tasks in a single build variant in a single version.
  name: builds
- description: "A distro is a set of hosts that runs tasks. A static distro is configured\
    \ with a list of IP addresses, while a dynamic distro scales with demand."
  name: distros
- description: "A host is an Evergrene-managed EC2 VM, static host, or container."
  name: hosts
- description: Info is general information about the system.
  name: info
- description: Keys are SSH keys for users to SSH into spawn hosts.
  name: keys
- description: A manifest tracks metadata about a version.
  name: manifests
- description: A patch build is a version not triggered by a commit to a repository.
    It either runs tasks on a base commit plus some diff if submitted by the CLI or
    on a git branch if created by a GitHub pull request.
  name: patches
- description: A project tracks a GitHub repository.
  name: projects
- description: The select endpoints return a subset of tests to run for a given task.
  name: select
- description: The fundamental unit of execution is the task. A task corresponds to
    a box on the waterfall page.
  name: tasks
- description: "A test is sent to Evergreen in a known format by a command during\
    \ a task, parsed by Evergreen, and displayed on the task page."
  name: tests
- description: A user is an Evergreen user.
  name: users
- description: "A version, which corresponds to a vertical slice of tasks on the waterfall,\
    \ is all tasks for a given commit or patch build."
  name: versions
paths:
  /admin/banner:
    get:
      description: Fetch the text and type of Evergreen's current banner
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.APIBanner'
          description: OK
      security:
      - Api-Key: []
        Api-User: []
      summary: Get the banner
      tags:
      - info
  /admin/service_users:
    delete:
      description: Deletes a service user by its ID (restricted to Evergreen admins).
      parameters:
      - description: the user ID
        in: query
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
      security:
      - Api-Key: []
        Api-User: []
      summary: Delete service user
      tags:
      - admin
    get:
      description: Fetches all service users (restricted to Evergreen admins).
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/model.APIDBUser'
                type: array
          description: OK
      security:
      - Api-Key: []
        Api-User: []
      summary: Get all service users
      tags:
      - admin
    post:
      description: Creates a new service user or updates an existing one (restricted
        to Evergreen admins).
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/model.APIDBUser'
        description: parameters
        required: true
      responses:
        "200":
          content: {}
          description: OK
      security:
      - Api-Key: []
        Api-User: []
      summary: Create or update service user
      tags:
      - admin
      x-codegen-request-body-name: "{object}"
  /admin/task_limits:
    get:
      description: Returns all of Evergreen's task-related limitations.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.APITaskLimitsConfig'
          description: OK
      security:
      - Api-Key: []
        Api-User: []
      summary: Get Evergreen's task limits
      tags:
      - admin
  /alias/{project_id}:
    get:
      description: Returns the project's aliases. This endpoint serves the data returned
        by the "evergreen list --patch-aliases" command.
      parameters:
      - description: the project ID
        in: path
        name: project_id
        required: true
        schema:
          type: string
      - description: Setting to true will return the merged result of the project
          and the config properties set in the project YAML. Defaults to false
        in: query
        name: includeProjectConfig
        schema:
          type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/model.APIProjectAlias'
                type: array
          description: OK
      security:
      - Api-Key: []
        Api-User: []
      summary: Get a project's aliases
      tags:
      - projects
  /builds/{build_id}:
    get:
      description: Fetches a single build using its ID
      parameters:
      - description: the build ID
        in: path
        name: build_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.APIBuild'
          description: OK
      security:
      - Api-Key: []
        Api-User: []
      summary: Fetch build by ID
      tags:
      - builds
    patch:
      description: Change the current execution status of a build. Accepts a JSON
        body with the new build status to be set.
      parameters:
      - description: the build ID
        in: path
        name: build_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/route.buildChangeStatusHandler'
        description: parameters
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.APIBuild'
          description: OK
      security:
      - Api-Key: []
        Api-User: []
      summary: Change a build's execution status
      tags:
      - builds
      x-codegen-request-body-name: "{object}"
  /builds/{build_id}/abort:
    post:
      description: Abort the build of the given ID. Can only be performed if the build
        is in progress.
      parameters:
      - description: build ID
        in: path
        name: build_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.APIBuild'
          description: OK
      security:
      - Api-Key: []
        Api-User: []
      summary: Abort a build
      tags:
      - builds
  /builds/{build_id}/restart:
    post:
      description: Restarts the build of the given ID. Can only be performed if the
        build is finished.
      parameters:
      - description: build ID
        in: path
        name: build_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.APIBuild'
          description: OK
      security:
      - Api-Key: []
        Api-User: []
      summary: Restart a build
      tags:
      - builds
  /builds/{build_id}/tasks:
    get:
      description: List all tasks within a specific build.
      parameters:
      - description: the build ID
        in: path
        name: build_id
        required: true
        schema:
          type: string
      - description: The identifier of the task to start at in the pagination
        in: query
        name: start_at
        schema:
          type: string
      - description: The number of tasks to be returned per page of pagination. Defaults
          to 100
        in: query
        name: limit
        schema:
          type: integer
      - description: Fetches previous executions of tasks if they are available
        in: query
        name: fetch_all_executions
        schema:
          type: boolean
      - description: Fetches the parent display task ID for each returned execution
          task
        in: query
        name: fetch_parent_ids
        schema:
          type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/model.APITask'
                type: array
          description: OK
      security:
      - Api-Key: []
        Api-User: []
      summary: List tasks by build
      tags:
      - tasks
  /distros:
    get:
      description: Fetches all available distros.
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/model.APIDistro'
                type: array
          description: OK
      security:
      - Api-Key: []
        Api-User: []
      summary: Get all distros
      tags:
      - distros
  /distros/{distro_id}:
    delete:
      description: Delete a distro by ID.
      parameters:
      - description: distro ID
        in: path
        name: distro_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
      security:
      - Api-Key: []
        Api-User: []
      summary: Delete a distro
      tags:
      - distros
    get:
      description: Fetch a single distro by its ID.
      parameters:
      - description: distro ID
        in: path
        name: distro_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.APIDistro'
          description: OK
      security:
      - Api-Key: []
        Api-User: []
      summary: Get a single distro
      tags:
      - distros
    patch:
      description: Update an existing distro by ID. Only updates the fields that are
        present in the request body.
      parameters:
      - description: distro ID
        in: path
        name: distro_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/model.APIDistro'
        description: the updated distro
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.APIDistro'
          description: The updated distro
      security:
      - Api-Key: []
        Api-User: []
      summary: Update an existing distro
      tags:
      - distros
      x-codegen-request-body-name: "{object}"
    put:
      description: "Replace an existing distro by ID or add a new distro. If replacing\
        \ an existing distro, all fields will be replaced with the new configuration."
      parameters:
      - description: distro ID
        in: path
        name: distro_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/model.APIDistro'
        description: the new distro
        required: true
      responses:
        "200":
          content: {}
          description: OK
        "201":
          content: {}
          description: Created
      security:
      - Api-Key: []
        Api-User: []
      summary: Replace or add a distro
      tags:
      - distros
      x-codegen-request-body-name: "{object}"
  /distros/{distro_id}/setup:
    get:
      description: Fetch a distro's setup script by its distro ID.
      parameters:
      - description: distro ID
        in: path
        name: distro_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: The distro setup script
      security:
      - Api-Key: []
        Api-User: []
      summary: Get the setup script for a distro
      tags:
      - distros
    patch:
      description: Update a distro's setup script. Accepts a JSON body with the new
        setup script.
      parameters:
      - description: distro ID
        in: path
        name: distro_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/route.distroIDChangeSetupHandler'
        description: the updated setup script
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.APIDistro'
          description: The updated distro with the new setup script
      security:
      - Api-Key: []
        Api-User: []
      summary: Update the setup script for a distro
      tags:
      - distros
      x-codegen-request-body-name: "{object}"
  /hosts:
    get:
      description: Returns a paginated list of all hosts in Evergreen
      parameters:
      - description: The identifier of the host to start at in the pagination
        in: query
        name: start_at
        schema:
          type: string
      - description: The number of hosts to be returned per page of pagination. Defaults
          to 100
        in: query
        name: limit
        schema:
          type: integer
      - description: A status of host to limit the results to
        in: query
        name: status
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.APIHost'
          description: OK
      security:
      - Api-Key: []
        Api-User: []
      summary: Fetch all hosts
      tags:
      - hosts
    post:
      description: Spawns a host. The host must be of a distro which is spawnable
        by users.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/model.HostRequestOptions'
        description: parameters
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.APIHost'
          description: OK
      security:
      - Api-Key: []
        Api-User: []
      summary: Spawn a host
      tags:
      - hosts
      x-codegen-request-body-name: "{object}"
  /hosts/{host_id}:
    get:
      description: Fetches a single host using its ID
      parameters:
      - description: the host ID
        in: path
        name: host_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.APIHost'
          description: OK
      security:
      - Api-Key: []
        Api-User: []
      summary: Fetch host by ID
      tags:
      - hosts
  /hosts/{host_id}/change_password:
    post:
      description: "Immediately changes the RDP password of a Windows host with a\
        \ given ID. Users may only change passwords for hosts which were created by\
        \ them, unless the user is a super-user.  A response code of 200 OK indicates\
        \ that the host's password was successfully terminated Attempting to set the\
        \ RDP password of a host that is not a Windows host or host that is not running\
        \ will result in an error.  All other response codes indicate errors; the\
        \ response body can be parsed as a rest.APIError."
      parameters:
      - description: the host ID
        in: path
        name: host_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/model.APISpawnHostModify'
        description: "New RDP password; must meet RDP password criteria as provided\
          \ by Microsoft at: https://technet.microsoft.com/en-us/library/cc786468(v=ws.10).aspx\
          \ and be between 6 and 255 characters long"
        required: true
      responses:
        "200":
          content: {}
          description: OK
      security:
      - Api-Key: []
        Api-User: []
      summary: Change RDP password of a host
      tags:
      - hosts
      x-codegen-request-body-name: "{object}"
  /hosts/{host_id}/extend_expiration:
    post:
      description: "Extend the expiration time of a host with a given ID. Users may\
        \ only extend expirations for hosts which were created by them, unless the\
        \ user is a super-user.  The expiration date of a host may not be more than\
        \ 1 week in the future. Furthermore, the lifetime of an expirable host can\
        \ be extended at most 30 days past host creation.  A response code of 200\
        \ OK indicates that the host's expiration was successfully extended.  Attempt\
        \ to extend the expiration time of a terminated host will result in an error\
        \ All other response codes indicate errors; the response body can be parsed\
        \ as a rest.APIError"
      parameters:
      - description: the host ID
        in: path
        name: host_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/model.APISpawnHostModify'
        description: Number of hours to extend expiration; not to exceed 168
        required: true
      responses:
        "200":
          content: {}
          description: OK
      security:
      - Api-Key: []
        Api-User: []
      summary: Extend the expiration of a host
      tags:
      - hosts
      x-codegen-request-body-name: "{object}"
  /hosts/{host_id}/start:
    post:
      description: Queues a job to start the host. Optionally sets up a notification
        to send when starting is finished.
      parameters:
      - description: the host ID
        in: path
        name: host_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/route.hostSubscriptionInfo'
        description: subscription_type
        required: false
      responses:
        "200":
          content: {}
          description: OK
      security:
      - Api-Key: []
        Api-User: []
      summary: Start host
      tags:
      - hosts
      x-codegen-request-body-name: "{object}"
  /hosts/{host_id}/stop:
    post:
      description: Queues a job to stop the host. Optionally sets up a notification
        to send when stopping is finished.
      parameters:
      - description: the host ID
        in: path
        name: host_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/route.hostStopOptions'
        description: subscription type and whether an unexpirable host should be kept
          off
        required: false
      responses:
        "200":
          content: {}
          description: OK
      security:
      - Api-Key: []
        Api-User: []
      summary: Stop host
      tags:
      - hosts
      x-codegen-request-body-name: "{object}"
  /hosts/{host_id}/terminate:
    post:
      description: "Immediately terminate a single host with given ID. Users may only\
        \ terminate hosts which were created by them, unless the user is a super-user.\
        \  Hosts which have not been initialised yet will be marked as Terminated.\
        \  Trying to terminate a host which has already been terminated will result\
        \ in an error.  All other host statuses will result in an attempt to terminate\
        \ using the provider's API A response code of 200 OK indicates that the host\
        \ was successfully terminated All other response codes indicate errors; the\
        \ response body can be parsed as a rest.APIError."
      parameters:
      - description: the host ID
        in: path
        name: host_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
      security:
      - Api-Key: []
        Api-User: []
      summary: Terminate a host
      tags:
      - hosts
  /keys:
    delete:
      description: "Delete the SSH public key with name {key_name} from the current\
        \ user (as determined by the Api-User and Api-Key headers)."
      parameters:
      - description: the key name
        in: query
        name: key_name
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
      security:
      - Api-Key: []
        Api-User: []
      summary: Delete a specified public key from the current user
      tags:
      - keys
    get:
      description: Fetch the SSH public keys of the current user (as determined by
        the Api-User and Api-Key headers) as an array of Key objects.
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/model.APIPubKey'
                type: array
          description: OK
      security:
      - Api-Key: []
        Api-User: []
      summary: Get current user's SSH public keys
      tags:
      - keys
    post:
      description: "Add a single public key to the current user (as determined by\
        \ the Api-User and Api-Key headers) as a Key object. If you attempt to insert\
        \ a key with a duplicate name, it will fail."
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/model.APIPubKey'
        description: parameters
        required: true
      responses:
        "200":
          content: {}
          description: OK
      security:
      - Api-Key: []
        Api-User: []
      summary: Add a public key to the current user
      tags:
      - keys
      x-codegen-request-body-name: "{object}"
  /patches/{patch_id}:
    get:
      description: Fetch a single patch using its ID
      parameters:
      - description: patch ID
        in: path
        name: patch_id
        required: true
        schema:
          type: string
      - description: A module to get the diff for. Returns the empty string when no
          patch exists for the module.
        in: query
        name: module
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.APIPatch'
          description: OK
      security:
      - Api-Key: []
        Api-User: []
      summary: Fetch patch by ID
      tags:
      - patches
    patch:
      description: Sets the priority and activation status of a single patch to the
        input values
      parameters:
      - description: patch ID
        in: path
        name: patch_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/route.patchChangeStatusHandler'
        description: parameters
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.APIPatch'
          description: OK
      security:
      - Api-Key: []
        Api-User: []
      summary: Change patch status
      tags:
      - patches
      x-codegen-request-body-name: "{object}"
  /patches/{patch_id}/abort:
    post:
      description: Aborts a single patch using its ID and returns the patch
      parameters:
      - description: the patch ID
        in: path
        name: patch_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.APIPatch'
          description: OK
      security:
      - Api-Key: []
        Api-User: []
      summary: Abort a patch
      tags:
      - patches
  /patches/{patch_id}/configure:
    post:
      description: "Update the list of tasks that the specified patch will run. This\
        \ will only add on tasks, existing tasks will not be removed. This works both\
        \ for initially specifying a patch's tasks, as well as for adding additional\
        \ tasks to an already-scheduled patch."
      parameters:
      - description: the patch ID
        in: path
        name: patch_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/route.patchTasks'
        description: parameters
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.APIVersion'
          description: OK
      security:
      - Api-Key: []
        Api-User: []
      summary: Configure/schedule a patch
      tags:
      - patches
      x-codegen-request-body-name: "{object}"
  /patches/{patch_id}/raw:
    get:
      description: Fetch the raw diff for a patch
      parameters:
      - description: patch ID
        in: path
        name: patch_id
        required: true
        schema:
          type: string
      - description: A module to get the diff for. Returns the empty string when no
          patch exists for the module.
        in: query
        name: module
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: OK
      security:
      - Api-Key: []
        Api-User: []
      summary: Get patch diff
      tags:
      - patches
  /patches/{patch_id}/restart:
    post:
      description: restarts a single patch using its ID and returns the patch
      parameters:
      - description: the patch ID
        in: path
        name: patch_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.APIPatch'
          description: OK
      security:
      - Api-Key: []
        Api-User: []
      summary: restart a patch
      tags:
      - patches
  /permissions:
    get:
      description: Returns a static list of project and distro permissions that can
        be granted to users.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.APIPermissions'
          description: OK
      security:
      - Api-Key: []
        Api-User: []
      summary: Get permissions
      tags:
      - info
  /permissions/users:
    get:
      description: "Retrieves all users with permissions for the resource, and their\
        \ highest permissions, and returns this as a mapping. This ignores basic permissions\
        \ that are given to all users."
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/route.UsersPermissionsInput'
        description: parameters
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/route.swaggerUsersPermissionsResult'
          description: OK
      security:
      - Api-Key: []
        Api-User: []
      summary: Get all user permissions for resource
      tags:
      - users
      x-codegen-request-body-name: "{object}"
  /projects:
    get:
      description: "Returns a paginated list of all non-hidden projects. Any authenticated\
        \ user can access this endpoint, so potentially sensitive information (variables,\
        \ task annotation settings, workstation settings, and container secrets) is\
        \ omitted. subscriptions.subscriber.target is undocumented by the OpenAPI\
        \ spec, and can be either a string or an object."
      parameters:
      - description: The identifier of the host to start at in the pagination
        in: query
        name: start_at
        schema:
          type: string
      - description: The number of hosts to be returned per page of pagination. Defaults
          to 100
        in: query
        name: limit
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/model.APIProjectRef'
                type: array
          description: OK
      security:
      - Api-Key: []
        Api-User: []
      summary: Fetch all projects
      tags:
      - projects
  /projects/test_alias:
    get:
      description: "Checks a specified project alias in a specified project against\
        \ an Evergreen configuration, returning the tasks and variants that alias\
        \ would select. Currently only supports passing in the configuration via an\
        \ already-created version."
      parameters:
      - description: version
        in: query
        name: version
        required: true
        schema:
          type: string
      - description: alias
        in: query
        name: alias
        required: true
        schema:
          type: string
      - description: include dependencies
        in: query
        name: include_deps
        schema:
          type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.APIVariantTasks'
          description: OK
      security:
      - Api-Key: []
        Api-User: []
      summary: Check project alias results
      tags:
      - projects
  /projects/{patch_id}/raw_modules:
    get:
      description: Fetch the raw diff for a patch along with the module diffs.
      parameters:
      - description: the project ID
        in: path
        name: patch_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.APIRawPatch'
          description: OK
      security:
      - Api-Key: []
        Api-User: []
      summary: Get patch diff with module diffs
      tags:
      - patches
  /projects/{project_id}:
    get:
      description: "Returns the project (restricted to project admins). Includes public\
        \ variables, aliases, and subscriptions. Note that private variables are always\
        \ redacted. If you want to use this to copy project variables, see instead\
        \ the \"Copy Project Variables\" route."
      parameters:
      - description: the project ID
        in: path
        name: project_id
        required: true
        schema:
          type: string
      - description: Setting to true will return the merged result of project and
          repo level settings. Defaults to false
        in: query
        name: includeRepo
        schema:
          type: boolean
      - description: Setting to true will return the merged result of the project
          and the config properties set in the project YAML. Defaults to false
        in: query
        name: includeProjectConfig
        schema:
          type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.APIProjectRef'
          description: OK
      security:
      - Api-Key: []
        Api-User: []
      summary: Get a project
      tags:
      - projects
    patch:
      description: "Modify an existing project (restricted to project admins -- the\
        \ fetch all projects route can be used for non-admins). Will enable webhooks\
        \ if an enabled project, and enable PR testing and the commit queue if specified.\
        \  For lists, if there is a complementary \"delete\" field, then the former\
        \ field indicates items to be added, while the \"delete\" field indicates\
        \ items to be deleted. Otherwise, the given list will overwrite the original\
        \ list (the only exception is for project variables -- we will ignore any\
        \ empty project variables to avoid accidentally overwriting private variables)."
      parameters:
      - description: the project ID
        in: path
        name: project_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/model.APIProjectRef'
        description: parameters
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.APIProjectRef'
          description: OK
      security:
      - Api-Key: []
        Api-User: []
      summary: Modify a project
      tags:
      - projects
      x-codegen-request-body-name: "{object}"
    put:
      description: Create a new project with the given project ID. Restricted to super
        users.
      parameters:
      - description: the project ID
        in: path
        name: project_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/model.APIProjectRef'
        description: parameters
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.APIProjectRef'
          description: OK
      security:
      - Api-Key: []
        Api-User: []
      summary: Put a project
      tags:
      - projects
      x-codegen-request-body-name: "{object}"
  /projects/{project_id}/copy:
    post:
      description: "Restricted to admins of the original project. Create a new, initially\
        \ disabled project (PR testing and CommitQueue also initially disabled). The\
        \ unique identifier is passed to the query parameter new_project and is required.\
        \  Project variables, aliases, subscriptions, etc are copied but the GitHub\
        \ app ID and key are not. Returns the new project (but not variables/aliases/subscriptions)."
      parameters:
      - description: the project ID
        in: path
        name: project_id
        required: true
        schema:
          type: string
      - description: the new project ID
        in: query
        name: new_project
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.APIProjectRef'
          description: OK
      security:
      - Api-Key: []
        Api-User: []
      summary: Copy a project
      tags:
      - projects
  /projects/{project_id}/copy/variables:
    post:
      description: Restricted to admins of the source project/repo and the destination
        project/repo. Copies variables from projectA to projectB.
      parameters:
      - description: the project ID
        in: path
        name: project_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/route.copyVariablesOptions'
        description: parameters
        required: false
      responses:
        "200":
          content: {}
          description: OK
      security:
      - Api-Key: []
        Api-User: []
      summary: Copy variables to an existing project
      tags:
      - projects
      x-codegen-request-body-name: "{object}"
  /projects/{project_id}/parameters:
    get:
      description: Returns a list of parameters for the project.
      parameters:
      - description: the project ID
        in: path
        name: project_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/model.APIParameterInfo'
                type: array
          description: OK
      security:
      - Api-Key: []
        Api-User: []
      summary: Get current parameters for a project
      tags:
      - projects
  /projects/{project_id}/patches:
    get:
      description: Returns a paginated list of all patches associated with a specific
        project
      parameters:
      - description: the project ID
        in: path
        name: project_id
        required: true
        schema:
          type: string
      - description: The create_time of the patch to start at in the pagination. Defaults
          to now
        in: query
        name: start_at
        schema:
          type: string
      - description: The number of patches to be returned per page of pagination.
          Defaults to 100
        in: query
        name: limit
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/model.APIPatch'
                type: array
          description: OK
      security:
      - Api-Key: []
        Api-User: []
      summary: Fetch patches by project
      tags:
      - patches
  /projects/{project_id}/task_executions:
    get:
      description: "Right now, this returns the number of times the given task has\
        \ executed (i.e. succeeded or failed). Parameters should be passed into the\
        \ JSON body."
      parameters:
      - description: the project ID
        in: path
        name: project_id
        required: true
        schema:
          type: string
      - description: The task to return execution info for.
        in: query
        name: task_name
        required: true
        schema:
          type: string
      - description: The build variant to return task execution info for.
        in: query
        name: build_variant
        required: true
        schema:
          type: string
      - description: Will only return execution info after this time. Format should
          be 2022-12-01T12:30:00.000Z
        in: query
        name: start_time
        required: true
        schema:
          type: string
      - description: "If not provided, will default to the current time."
        in: query
        name: end_time
        schema:
          type: string
      - description: "If not provided, will default to gitter_request (versions created\
          \ by git commit). Can also be github_pull_request, trigger_request (Project\
          \ Trigger versions) , github_merge_request (GitHub merge queue), or ad_hoc\
          \ (periodic builds)"
        explode: false
        in: query
        name: requesters
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.ProjectTaskExecutionResp'
          description: number completed
      security:
      - Api-Key: []
        Api-User: []
      summary: Get execution info for a task
      tags:
      - tasks
  /projects/{project_id}/tasks/{task_name}:
    get:
      description: Returns the last set number of completed tasks that exist for a
        given project. Parameters should be passed into the JSON body. Ensure that
        a task name rather than a task ID is passed into the URL.
      parameters:
      - description: the project ID
        in: path
        name: project_id
        required: true
        schema:
          type: string
      - description: the task name
        in: path
        name: task_name
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: string
        description: "If set, will only include tasks that have run on this build\
          \ variant."
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/model.APITask'
                type: array
          description: OK
      security:
      - Api-Key: []
        Api-User: []
      summary: Get tasks for a project
      tags:
      - tasks
      x-codegen-request-body-name: build_variant
  /projects/{project_id}/versions:
    get:
      description: Returns a paginated list of recent versions for a project. Parameters
        should be passed into the JSON body (the route still accepts limit and start
        as query parameters to support legacy behavior).
      parameters:
      - description: the project ID
        in: path
        name: project_id
        required: true
        schema:
          type: string
      - description: Number of versions to skip.
        in: query
        name: skip
        schema:
          type: integer
      - description: The number of versions to be returned per page of pagination.
          Defaults to 20.
        in: query
        name: limit
        schema:
          type: integer
      - description: "The version order number to start at, for pagination. Will return\
          \ the versions that are less than (and therefore older) the revision number\
          \ specified."
        in: query
        name: start
        schema:
          type: integer
      - description: Will return the versions that are greater than (and therefore
          more recent) or equal to revision number specified.
        in: query
        name: revision_end
        schema:
          type: integer
      - description: "Returns versions for this requester only. Defaults to gitter_request\
          \ (caused by git commit, aka the repotracker requester). Can also be set\
          \ to patch_request, github_pull_request, trigger_request (Project Trigger\
          \ versions) , github_merge_request (GitHub merge queue),, and ad_hoc (periodic\
          \ builds)."
        in: query
        name: requester
        schema:
          type: string
      - description: "If set, will return some information for each build in the version."
        in: query
        name: include_builds
        schema:
          type: boolean
      - description: "If set, will only include information for this build, and only\
          \ return versions with this build activated. Must have include_builds set."
        in: query
        name: by_build_variant
        schema:
          type: string
      - description: "If set, will return some information for each task in the included\
          \ builds. This is only allowed if include_builds is set."
        in: query
        name: include_tasks
        schema:
          type: boolean
      - description: "If set, will only include information for this task, and will\
          \ only return versions with this task activated. Must have include_tasks\
          \ set."
        in: query
        name: by_task
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/model.APIVersion'
                type: array
          description: OK
      security:
      - Api-Key: []
        Api-User: []
      summary: Get versions for a project
      tags:
      - versions
    patch:
      description: Modifies a group of versions for a project. Parameters should be
        passed into the JSON body. Currently supports setting priority for all versions
        that the given options apply to. This route is restricted to project admins.
      parameters:
      - description: the project ID
        in: path
        name: project_id
        required: true
        schema:
          type: string
      - description: Timestamp to start looking for applicable versions.
        in: query
        name: start_time_str
        required: true
        schema:
          type: string
      - description: Timestamp to stop looking for applicable versions.
        in: query
        name: end_time_str
        schema:
          type: string
      - description: The version order number to start at.
        in: query
        name: revision_start
        schema:
          type: integer
      - description: The version order number to end at.
        in: query
        name: revision_end
        schema:
          type: integer
      - description: Priority to set for all tasks within applicable versions.
        in: query
        name: priority
        required: true
        schema:
          type: integer
      - description: "Returns versions for this requester only. Defaults to gitter_request\
          \ (caused by git commit, aka the repotracker requester). Can also be set\
          \ to patch_request, github_pull_request, trigger_request (Project Trigger\
          \ versions) , github_merge_request (GitHub merge queue), and ad_hoc (periodic\
          \ builds)."
        in: query
        name: requester
        schema:
          type: string
      - description: "If set, will only include information for this build, and only\
          \ return versions with this build activated. Must have include_builds set."
        in: query
        name: by_build_variant
        schema:
          type: string
      - description: "If set, will only include information for this task, and will\
          \ only return versions with this task activated. Must have include_tasks\
          \ set."
        in: query
        name: by_task
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
      security:
      - Api-Key: []
        Api-User: []
      summary: Modify versions for a project
      tags:
      - versions
  /projects/{project_name}/revisions/{commit_hash}/tasks:
    get:
      description: List all tasks within a mainline commit of a given project (excludes
        patch tasks)
      parameters:
      - description: project name
        in: path
        name: project_name
        required: true
        schema:
          type: string
      - description: commit hash
        in: path
        name: commit_hash
        required: true
        schema:
          type: string
      - description: The identifier of the task to start at in the pagination
        in: query
        name: start_at
        schema:
          type: string
      - description: The number of tasks to be returned per page of pagination. Defaults
          to 100
        in: query
        name: limit
        schema:
          type: integer
      - description: Only return tasks within this variant
        in: query
        name: variant
        schema:
          type: string
      - description: Only return tasks within variants that match this regex
        in: query
        name: variant_regex
        schema:
          type: string
      - description: Only return tasks with this display name
        in: query
        name: task_name
        schema:
          type: string
      - description: Only return tasks with this status
        in: query
        name: status
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/model.APITask'
                type: array
          description: OK
      security:
      - Api-Key: []
        Api-User: []
      summary: List tasks by project and commit
      tags:
      - tasks
  /roles/{role_id}/users:
    get:
      description: Gets a list of users for the specified role
      parameters:
      - description: role ID
        in: path
        name: role_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/route.UsersWithRoleResponse'
          description: list of users
      security:
      - Api-Key: []
        Api-User: []
      summary: Get users for role
      tags:
      - users
  /select/tests:
    post:
      description: Return a subset of tests to run for a given task. This endpoint
        is not yet ready. Please do not use it.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/route.SelectTestsRequest'
        description: Select tests request
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/route.SelectTestsRequest'
          description: OK
      security:
      - Api-Key: []
        Api-User: []
      summary: Select tests
      tags:
      - select
      x-codegen-request-body-name: "{object}"
  /status/cli_version:
    get:
      description: Fetch the CLI update manifest from the server
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.APICLIUpdate'
          description: OK
      security:
      - Api-Key: []
        Api-User: []
      summary: Fetch CLI client version
      tags:
      - info
  /tasks/{build_id}/annotations:
    get:
      description: Fetches the annotations for all the tasks in a build.
      parameters:
      - description: build_id
        in: path
        name: build_id
        required: true
        schema:
          type: string
      - description: Fetches previous executions of the task if they are available
        in: query
        name: fetch_all_executions
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/model.APITaskAnnotation'
                type: array
          description: OK
      security:
      - Api-Key: []
        Api-User: []
      summary: List task annotations by build
      tags:
      - annotations
  /tasks/{task_id}:
    get:
      description: Fetch a single task using its ID
      parameters:
      - description: task ID
        in: path
        name: task_id
        required: true
        schema:
          type: string
      - description: The 0-based number corresponding to the execution of the task
          ID. Defaults to the latest execution
        in: query
        name: execution
        schema:
          type: integer
      - description: Fetches previous executions of the task if they are available
        in: query
        name: fetch_all_executions
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.APITask'
          description: OK
      security:
      - Api-Key: []
        Api-User: []
      summary: Get a single task
      tags:
      - tasks
    patch:
      description: Change the current execution status of a task. Accepts a JSON body
        with the new task status to be set.
      parameters:
      - description: task ID
        in: path
        name: task_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/route.taskExecutionPatchHandler'
        description: parameters
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.APITask'
          description: OK
      security:
      - Api-Key: []
        Api-User: []
      summary: Change a task's execution status
      tags:
      - tasks
      x-codegen-request-body-name: "{object}"
  /tasks/{task_id}/abort:
    post:
      description: Abort the task of the given ID. Can only be performed if the task
        is in progress.
      parameters:
      - description: task ID
        in: path
        name: task_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.APITask'
          description: OK
      security:
      - Api-Key: []
        Api-User: []
      summary: Abort a task
      tags:
      - tasks
  /tasks/{task_id}/annotation:
    patch:
      description: "Creates a task annotation, or updates an existing task annotation,\
        \ appending issues and suspected issues that are included in the update. A\
        \ new annotation is created based if the annotation exists and if upsert is\
        \ true. Task execution must be provided for this endpoint, either in the request\
        \ body or set as a url parameter. If no task_execution is specified in the\
        \ request body or in the url, a bad status error will be returned. Note that\
        \ usage of this endpoint requires that the requesting user have security to\
        \ modify task annotations. The user does not need to specify the source, it\
        \ will be added automatically."
      parameters:
      - description: task ID
        in: path
        name: task_id
        required: true
        schema:
          type: string
      - description: Can be set in lieu of specifying task_execution in the request
          body.
        in: query
        name: execution
        schema:
          type: integer
      - description: Will create a new annotation if task annotation isn't found and
          upsert is true.
        in: query
        name: upsert
        schema:
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/model.APITaskAnnotation'
        description: parameters
        required: true
      responses:
        "200":
          content: {}
          description: OK
      security:
      - Api-Key: []
        Api-User: []
      summary: Create or update a new task annotation by appending
      tags:
      - annotations
      x-codegen-request-body-name: "{object}"
    put:
      description: "Creates a task annotation, or updates an existing task annotation,\
        \ overwriting any existing fields that are included in the update. The annotation\
        \ is created based on the annotation specified in the request body. Task execution\
        \ must be provided for this endpoint, either in the request body or set as\
        \ a url parameter. If no task_execution is specified in the request body or\
        \ in the url, a bad status error will be returned. Note that usage of this\
        \ endpoint requires that the requesting user have security to modify task\
        \ annotations. The user does not need to specify the source, it will be added\
        \ automatically."
      parameters:
      - description: task ID
        in: path
        name: task_id
        required: true
        schema:
          type: string
      - description: Can be set in lieu of specifying task_execution in the request
          body.
        in: query
        name: execution
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/model.APITaskAnnotation'
        description: parameters
        required: true
      responses:
        "200":
          content: {}
          description: OK
      security:
      - Api-Key: []
        Api-User: []
      summary: Create or update a new task annotation
      tags:
      - annotations
      x-codegen-request-body-name: "{object}"
  /tasks/{task_id}/annotations:
    get:
      description: "Returns a list containing the latest annotation for the given\
        \ task, or null if there are no annotations."
      parameters:
      - description: task ID
        in: path
        name: task_id
        required: true
        schema:
          type: string
      - description: The 0-based number corresponding to the execution of the task
          ID. Defaults to the latest execution
        in: query
        name: execution
        schema:
          type: integer
      - description: Fetches previous executions of the task if they are available
        in: query
        name: fetch_all_executions
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/model.APITaskAnnotation'
                type: array
          description: OK
      security:
      - Api-Key: []
        Api-User: []
      summary: Fetch task annotations
      tags:
      - annotations
  /tasks/{task_id}/build/TaskLogs:
    get:
      description: Fetch task logs by task ID.
      parameters:
      - description: Task ID.
        in: path
        name: task_id
        required: true
        schema:
          type: string
      - description: The 0-based number corresponding to the execution of the task
          ID. Defaults to the latest execution.
        in: query
        name: execution
        schema:
          type: integer
      - description: "Task log type. Must be one of: `agent_log`, `system_log`, `task_log`,\
          \ `all_logs`. Defaults to `all_logs`."
        in: query
        name: type
        schema:
          type: string
      - description: Start of targeted time interval (inclusive) in RFC3339 format.
          Defaults to the first timestamp of the requested logs.
        in: query
        name: start
        schema:
          type: string
      - description: End of targeted time interval (inclusive) in RFC3339 format.
          Defaults to the last timestamp of the requested logs.
        in: query
        name: end
        schema:
          type: string
      - description: "If set greater than 0, limits the number of log lines returned."
        in: query
        name: line_limit
        schema:
          type: integer
      - description: "If set greater than 0, returns the last N log lines."
        in: query
        name: tail_limit
        schema:
          type: integer
      - description: "If set to true, returns log lines prefixed with their timestamp."
        in: query
        name: print_time
        schema:
          type: boolean
      - description: "If set to true, returns log lines prefixed with their priority."
        in: query
        name: print_priority
        schema:
          type: boolean
      - description: "If set to true, paginates the response."
        in: query
        name: paginate
        schema:
          type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: OK
      security:
      - Api-Key: []
        Api-User: []
      summary: Get task logs for a task.
      tags:
      - tasks
  /tasks/{task_id}/build/TestLogs/{path}:
    get:
      description: Fetch test logs by task ID.
      parameters:
      - description: Task ID.
        in: path
        name: task_id
        required: true
        schema:
          type: string
      - description: Test log path relative to the task's test logs directory.
        in: path
        name: path
        required: true
        schema:
          type: string
      - description: The 0-based number corresponding to the execution of the task
          ID. Defaults to the latest execution.
        in: query
        name: execution
        schema:
          type: integer
      - description: "Test log path, relative to the task's test log directory, to\
          \ merge with test log specified in the URL path. Can be a prefix. Merging\
          \ is stable and timestamp-based. Repeat the parameter key if more than one\
          \ value."
        in: query
        name: logs_to_merge
        schema:
          type: string
      - description: Start of targeted time interval (inclusive) in RFC3339 format.
          Defaults to the first timestamp of the test log specified in the URL path.
        in: query
        name: start
        schema:
          type: string
      - description: End of targeted time interval (inclusive) in RFC3339 format.
          Defaults to the last timestamp of the test log specified in the URL path.
        in: query
        name: end
        schema:
          type: string
      - description: "If set greater than 0, limits the number of log lines returned."
        in: query
        name: line_limit
        schema:
          type: integer
      - description: "If set greater than 0, returns the last N log lines."
        in: query
        name: tail_limit
        schema:
          type: integer
      - description: "If set to true, returns log lines prefixed with their timestamp."
        in: query
        name: print_time
        schema:
          type: boolean
      - description: "If set to true, returns log lines prefixed with their priority."
        in: query
        name: print_priority
        schema:
          type: boolean
      - description: "If set to true, paginates the response."
        in: query
        name: paginate
        schema:
          type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: OK
      security:
      - Api-Key: []
        Api-User: []
      summary: Get test logs for a task.
      tags:
      - tasks
  /tasks/{task_id}/created_ticket:
    put:
      description: "If a file ticket webhook is configured for a project, this endpoint\
        \ should be used to let evergreen know when a ticket was filed for a task\
        \ so that it can be stored and displayed to the user. The request body should\
        \ include the ticket url and issue_key. Note that usage of this endpoint requires\
        \ that the requesting user have security to modify task annotations. The user\
        \ does not need to specify the source of the ticket, it will be added automatically."
      parameters:
      - description: task ID
        in: path
        name: task_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/model.APIIssueLink'
        description: parameters
        required: true
      responses:
        "200":
          content: {}
          description: OK
      security:
      - Api-Key: []
        Api-User: []
      summary: Send a newly created ticket for a task.
      tags:
      - annotations
      x-codegen-request-body-name: "{object}"
  /tasks/{task_id}/generated_tasks:
    get:
      description: Fetch basic info about all tasks generated by a task that ran generate.tasks.
      parameters:
      - description: task ID
        in: path
        name: task_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/model.APIGeneratedTaskInfo'
                type: array
          description: OK
      security:
      - Api-Key: []
        Api-User: []
      summary: Get info about generated tasks
      tags:
      - tasks
  /tasks/{task_id}/manifest:
    get:
      description: Fetch the manifest for a task using the task ID.
      parameters:
      - description: task ID
        in: path
        name: task_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/manifest.Manifest'
          description: OK
      security:
      - Api-Key: []
        Api-User: []
      summary: Get manifest for task
      tags:
      - manifests
  /tasks/{task_id}/restart:
    post:
      description: Restarts the task of the given ID. Can only be performed if the
        task is finished.
      parameters:
      - description: task ID
        in: path
        name: task_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/route.taskRestartHandler'
        description: parameters
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.APITask'
          description: OK
      security:
      - Api-Key: []
        Api-User: []
      summary: Restart a task
      tags:
      - tasks
      x-codegen-request-body-name: "{object}"
  /tasks/{task_id}/tests:
    get:
      description: "Fetches a paginated list of tests that ran as part of the given\
        \ task. To filter the tasks, add the following parameters into the query string."
      parameters:
      - description: task ID
        in: path
        name: task_id
        required: true
        schema:
          type: string
      - description: The identifier of the test to start at in the pagination
        in: query
        name: start_at
        schema:
          type: string
      - description: The number of tests to be returned per page of pagination. Defaults
          to 100
        in: query
        name: limit
        schema:
          type: integer
      - description: A status of test to limit the results to.
        in: query
        name: status
        schema:
          type: string
      - description: "The 0-based number corresponding to the execution of the task.\
          \ Defaults to 0, meaning the first time the task was run."
        in: query
        name: execution
        schema:
          type: integer
      - description: Only return the test matching the name.
        in: query
        name: test_name
        schema:
          type: string
      - description: Return tests from the latest execution. Cannot be used with execution.
        in: query
        name: latest
        schema:
          type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/model.APITest'
                type: array
          description: OK
      security:
      - Api-Key: []
        Api-User: []
      summary: Get tests from a task
      tags:
      - tests
  /tasks/{task_id}/tests/count:
    get:
      description: Returns an integer representing the number of tests that ran as
        part of the given task.
      parameters:
      - description: task ID
        in: path
        name: task_id
        required: true
        schema:
          type: string
      - description: "The 0-based number corresponding to the execution of the task.\
          \ Defaults to 0, meaning the first time the task was run."
        in: query
        name: execution
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: OK
      security:
      - Api-Key: []
        Api-User: []
      summary: Get the test count from a task
      tags:
      - tests
  /tasks/{version_id}/annotations:
    get:
      description: Fetches the annotations for all the tasks in a version.
      parameters:
      - description: version_id
        in: path
        name: version_id
        required: true
        schema:
          type: string
      - description: Fetches previous executions of the task if they are available
        in: query
        name: fetch_all_executions
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/model.APITaskAnnotation'
                type: array
          description: OK
      security:
      - Api-Key: []
        Api-User: []
      summary: List task annotations by version
      tags:
      - annotations
  /users/offboard_user:
    post:
      description: "Marks unexpirable volumes and hosts as expirable for the user,\
        \ and removes the user as a project admin for any projects, if applicable."
      parameters:
      - description: "If set to true, route returns the IDs of the hosts/volumes that\
          \ *would* be modified."
        in: query
        name: dry_run
        schema:
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/route.offboardUserEmail'
        description: parameters
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.APIOffboardUserResults'
          description: OK
      security:
      - Api-Key: []
        Api-User: []
      summary: Offboard user
      tags:
      - users
      x-codegen-request-body-name: "{object}"
  /users/rename_user:
    post:
      description: Migrate a user to a new username. Note that this may overwrite
        settings on the new user if it already exists.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/route.renameUserInfo'
        description: parameters
        required: true
      responses:
        "200":
          content: {}
          description: OK
      security:
      - Api-Key: []
        Api-User: []
      summary: Rename user
      tags:
      - users
      x-codegen-request-body-name: "{object}"
  /users/{user_id}:
    get:
      description: Get information about the given user
      parameters:
      - description: User ID
        in: path
        name: user_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.APIDBUser'
          description: the requested user
      security:
      - Api-Key: []
        Api-User: []
      summary: Get user
      tags:
      - users
  /users/{user_id}/hosts:
    get:
      description: Returns a list of hosts spawned by the given user.
      parameters:
      - description: the user ID
        in: path
        name: user_id
        required: true
        schema:
          type: string
      - description: The identifier of the host to start at in the pagination
        in: query
        name: start_at
        schema:
          type: string
      - description: The number of hosts to be returned per page of pagination. Defaults
          to 100
        in: query
        name: limit
        schema:
          type: integer
      - description: A status of host to limit the results to
        in: query
        name: status
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.APIHost'
          description: OK
      security:
      - Api-Key: []
        Api-User: []
      summary: Fetch hosts spawned by user
      tags:
      - hosts
  /users/{user_id}/patches:
    get:
      description: Returns a paginated list of all patches associated with a specific
        user
      parameters:
      - description: the user's ID
        in: path
        name: user_id
        required: true
        schema:
          type: string
      - description: the project ID
        in: path
        name: project_id
        required: true
        schema:
          type: string
      - description: The create_time of the patch to start at in the pagination. Defaults
          to now
        in: query
        name: start_at
        schema:
          type: string
      - description: The number of patches to be returned per page of pagination.
          Defaults to 100
        in: query
        name: limit
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/model.APIPatch'
                type: array
          description: OK
      security:
      - Api-Key: []
        Api-User: []
      summary: Fetch patches by user
      tags:
      - patches
  /users/{user_id}/permissions:
    delete:
      description: Deletes all permissions of a given type for a user by deleting
        their roles of that type for that resource ID. This ignores the Basic Project/Distro
        Access that is given to all MongoDB employees.
      parameters:
      - description: the user's ID
        in: path
        name: user_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/route.deletePermissionsRequest'
        description: parameters
        required: true
      responses:
        "200":
          content: {}
          description: OK
      security:
      - Api-Key: []
        Api-User: []
      summary: Delete user permissions
      tags:
      - users
      x-codegen-request-body-name: "{object}"
    get:
      description: "Retrieves all permissions for the user (ignoring basic permissions\
        \ that are given to all users, unless all=true is included)."
      parameters:
      - description: the user's ID
        in: path
        name: user_id
        required: true
        schema:
          type: string
      - description: "If included, we will not filter out basic permissions"
        in: query
        name: all
        schema:
          type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/route.swaggerPermissionSummary'
                type: array
          description: OK
      security:
      - Api-Key: []
        Api-User: []
      summary: Get user permissions
      tags:
      - users
    post:
      description: Grants the user specified by user_id the permissions in the request
        body.
      parameters:
      - description: the user's ID
        in: path
        name: user_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/route.RequestedPermissions'
        description: parameters
        required: true
      responses:
        "200":
          content: {}
          description: OK
      security:
      - Api-Key: []
        Api-User: []
      summary: Give permissions to user
      tags:
      - users
      x-codegen-request-body-name: "{object}"
  /users/{user_id}/roles:
    post:
      description: "Adds the specified roles to the specified user. Attempting to\
        \ add a duplicate role will result in an error. If you're unsure of what roles\
        \ you want to add, you probably want to POST To /users/user_id/permissions\
        \ instead."
      parameters:
      - description: user ID
        in: path
        name: user_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/route.rolesPostRequest'
        description: parameters
        required: true
      responses:
        "200":
          content: {}
          description: OK
      security:
      - Api-Key: []
        Api-User: []
      summary: Give roles to user
      tags:
      - users
      x-codegen-request-body-name: "{object}"
  /versions/{version_id}:
    get:
      description: Fetches a single version using its ID
      parameters:
      - description: version ID
        in: path
        name: version_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.APIVersion'
          description: OK
      security:
      - Api-Key: []
        Api-User: []
      summary: Fetch version by ID
      tags:
      - versions
    patch:
      description: Activate or deactivates a given version. Does not return the version.
      parameters:
      - description: the version ID
        in: path
        name: version_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/route.versionPatchHandler'
        description: parameters
        required: true
      responses:
        "200":
          content: {}
          description: OK
      security:
      - Api-Key: []
        Api-User: []
      summary: Activate or deactivate a version
      tags:
      - versions
      x-codegen-request-body-name: "{object}"
  /versions/{version_id}/abort:
    post:
      description: Aborts a single version using its ID then returns the version
      parameters:
      - description: version ID
        in: path
        name: version_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.APIVersion'
          description: OK
      security:
      - Api-Key: []
        Api-User: []
      summary: Abort a version
      tags:
      - versions
  /versions/{version_id}/builds:
    get:
      description: Fetches a list of builds associated with a version
      parameters:
      - description: the version ID
        in: path
        name: version_id
        required: true
        schema:
          type: string
      - description: Only return the build with this variant (using Distro identifier).
        in: query
        name: variant
        schema:
          type: string
      - description: "if set, include additional information about tasks in each build\
          \ (this is expensive)"
        in: query
        name: include_task_info
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/model.APIBuild'
                type: array
          description: OK
      security:
      - Api-Key: []
        Api-User: []
      summary: Get builds from a version
      tags:
      - builds
  /versions/{version_id}/restart:
    post:
      description: Restarts a single version using its ID then returns the version
      parameters:
      - description: version ID
        in: path
        name: version_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.APIVersion'
          description: OK
      security:
      - Api-Key: []
        Api-User: []
      summary: Restart a version
      tags:
      - versions
components:
  schemas:
    apimodels.FailingCommand:
      example:
        full_display_name: full_display_name
        failure_metadata_tags:
        - failure_metadata_tags
        - failure_metadata_tags
      properties:
        failure_metadata_tags:
          items:
            type: string
          type: array
        full_display_name:
          type: string
      type: object
    apimodels.ModuleCloneInfo:
      example:
        prefixes:
          key: prefixes
      properties:
        prefixes:
          additionalProperties:
            type: string
          type: object
      type: object
    apimodels.OOMTrackerInfo:
      example:
        detected: true
        pids:
        - 5
        - 5
      properties:
        detected:
          type: boolean
        pids:
          items:
            type: integer
          type: array
      type: object
    apimodels.TaskEndDetail:
      example:
        post_errored: true
        trace_id: trace_id
        timeout_duration: 5
        failure_metadata_tags:
        - failure_metadata_tags
        - failure_metadata_tags
        timeout_type: timeout_type
        disk_devices:
        - disk_devices
        - disk_devices
        timed_out: true
        type: type
        modules:
          prefixes:
            key: prefixes
        failing_command: failing_command
        oom_killer:
          detected: true
          pids:
          - 5
          - 5
        other_failing_commands:
        - full_display_name: full_display_name
          failure_metadata_tags:
          - failure_metadata_tags
          - failure_metadata_tags
        - full_display_name: full_display_name
          failure_metadata_tags:
          - failure_metadata_tags
          - failure_metadata_tags
        desc: desc
        status: status
      properties:
        desc:
          type: string
        disk_devices:
          items:
            type: string
          type: array
        failing_command:
          type: string
        failure_metadata_tags:
          description: |-
            FailureMetadataTags are user metadata tags associated with the
            command that caused the task to fail.
          items:
            type: string
          type: array
        modules:
          $ref: '#/components/schemas/apimodels.ModuleCloneInfo'
        oom_killer:
          $ref: '#/components/schemas/apimodels.OOMTrackerInfo'
        other_failing_commands:
          description: |-
            OtherFailingCommands contains information about commands that failed
            while the task was running but did not cause the task to fail.
          items:
            $ref: '#/components/schemas/apimodels.FailingCommand'
          type: array
        post_errored:
          type: boolean
        status:
          type: string
        timed_out:
          type: boolean
        timeout_duration:
          type: integer
        timeout_type:
          type: string
        trace_id:
          type: string
        type:
          type: string
      type: object
    evergreen.BannerTheme:
      enum:
      - ANNOUNCEMENT
      - INFORMATION
      - WARNING
      - IMPORTANT
      - ""
      type: string
      x-enum-varnames:
      - Announcement
      - Information
      - Warning
      - Important
      - Empty
    evergreen.PermissionLevel:
      example:
        description: description
        value: 0
      properties:
        description:
          type: string
        value:
          type: integer
      type: object
    host.Tag:
      example:
        can_be_modified: true
        value: value
        key: key
      properties:
        can_be_modified:
          type: boolean
        key:
          type: string
        value:
          type: string
      type: object
    manifest.Manifest:
      example:
        is_base: true
        module_overrides:
          key: module_overrides
        project: project
        id: id
        branch: branch
        modules:
          key:
            owner: owner
            repo: repo
            branch: branch
            url: url
            revision: revision
        revision: revision
      properties:
        branch:
          description: The branch of the repository.
          type: string
        id:
          description: Identifier for the version.
          type: string
        is_base:
          description: True if the version is a mainline build.
          type: boolean
        module_overrides:
          additionalProperties:
            type: string
          type: object
        modules:
          additionalProperties:
            $ref: '#/components/schemas/manifest.Module'
          description: Map from the GitHub repository name to the module's information.
          type: object
        project:
          description: The project identifier for the version.
          type: string
        revision:
          description: The revision of the version.
          type: string
      type: object
    manifest.Module:
      example:
        owner: owner
        repo: repo
        branch: branch
        url: url
        revision: revision
      properties:
        branch:
          description: The branch of the repository.
          type: string
        owner:
          description: The owner of the repository.
          type: string
        repo:
          description: The name of the repository.
          type: string
        revision:
          description: The revision of the head of the branch.
          type: string
        url:
          description: The url to the GitHub API call to that specific commit.
          type: string
      type: object
    model.APIAbortInfo:
      example:
        pr_closed: true
        task_id: task_id
        new_version: new_version
        user: user
      properties:
        new_version:
          type: string
        pr_closed:
          type: boolean
        task_id:
          type: string
        user:
          type: string
      type: object
    model.APIBanner:
      example:
        banner: banner
        theme: theme
      properties:
        banner:
          type: string
        theme:
          type: string
      type: object
    model.APIBaseTaskInfo:
      example:
        id: id
        status: status
      properties:
        id:
          type: string
        status:
          type: string
      type: object
    model.APIBetaFeatures:
      example:
        spruce_waterfall_enabled: true
      properties:
        spruce_waterfall_enabled:
          type: boolean
      type: object
    model.APIBootstrapSettings:
      example:
        precondition_scripts:
        - path: path
          script: script
        - path: path
          script: script
        root_dir: root_dir
        client_dir: client_dir
        service_user: service_user
        jasper_credentials_path: jasper_credentials_path
        method: method
        jasper_binary_dir: jasper_binary_dir
        shell_path: shell_path
        communication: communication
        env:
        - value: value
          key: key
        - value: value
          key: key
        resource_limits:
          num_tasks: 5
          virtual_memory: 5
          num_processes: 1
          num_files: 6
          locked_memory: 0
      properties:
        client_dir:
          type: string
        communication:
          type: string
        env:
          items:
            $ref: '#/components/schemas/model.APIEnvVar'
          type: array
        jasper_binary_dir:
          type: string
        jasper_credentials_path:
          type: string
        method:
          type: string
        precondition_scripts:
          items:
            $ref: '#/components/schemas/model.APIPreconditionScript'
          type: array
        resource_limits:
          $ref: '#/components/schemas/model.APIResourceLimits'
        root_dir:
          type: string
        service_user:
          type: string
        shell_path:
          type: string
      type: object
    model.APIBuild:
      example:
        create_time: create_time
        definition_info: "{}"
        activated_time: activated_time
        origin: origin
        time_taken_ms: 9
        display_name: display_name
        project_identifier: project_identifier
        version: version
        finish_time: finish_time
        predicted_makespan_ms: 1
        tags:
        - tags
        - tags
        start_time: start_time
        actual_makespan_ms: 0
        activated_by: activated_by
        project_id: project_id
        _id: _id
        status_counts: "{}"
        task_cache:
        - start_time: start_time
          time_taken_ms: 7
          id: id
          display_name: display_name
          failed_test_names:
          - failed_test_names
          - failed_test_names
          task_end_details:
            post_errored: true
            trace_id: trace_id
            timeout_duration: 5
            failure_metadata_tags:
            - failure_metadata_tags
            - failure_metadata_tags
            timeout_type: timeout_type
            disk_devices:
            - disk_devices
            - disk_devices
            timed_out: true
            type: type
            modules:
              prefixes:
                key: prefixes
            failing_command: failing_command
            oom_killer:
              detected: true
              pids:
              - 5
              - 5
            other_failing_commands:
            - full_display_name: full_display_name
              failure_metadata_tags:
              - failure_metadata_tags
              - failure_metadata_tags
            - full_display_name: full_display_name
              failure_metadata_tags:
              - failure_metadata_tags
              - failure_metadata_tags
            desc: desc
            status: status
          time_taken: 2
          activated: true
          status: status
        - start_time: start_time
          time_taken_ms: 7
          id: id
          display_name: display_name
          failed_test_names:
          - failed_test_names
          - failed_test_names
          task_end_details:
            post_errored: true
            trace_id: trace_id
            timeout_duration: 5
            failure_metadata_tags:
            - failure_metadata_tags
            - failure_metadata_tags
            timeout_type: timeout_type
            disk_devices:
            - disk_devices
            - disk_devices
            timed_out: true
            type: type
            modules:
              prefixes:
                key: prefixes
            failing_command: failing_command
            oom_killer:
              detected: true
              pids:
              - 5
              - 5
            other_failing_commands:
            - full_display_name: full_display_name
              failure_metadata_tags:
              - failure_metadata_tags
              - failure_metadata_tags
            - full_display_name: full_display_name
              failure_metadata_tags:
              - failure_metadata_tags
              - failure_metadata_tags
            desc: desc
            status: status
          time_taken: 2
          activated: true
          status: status
        build_variant: build_variant
        tasks:
        - tasks
        - tasks
        activated: true
        git_hash: git_hash
        order: 6
        status: status
      properties:
        _id:
          type: string
        activated:
          description: Whether this build was manually initiated
          type: boolean
        activated_by:
          description: Who initiated the build
          type: string
        activated_time:
          description: When the build was initiated
          type: string
        actual_makespan_ms:
          description: Actual makespan measured during execution
          type: integer
        build_variant:
          description: Build distro and architecture information
          type: string
        create_time:
          description: Time at which build was created
          type: string
        definition_info:
          allOf:
          - $ref: '#/components/schemas/model.DefinitionInfo'
          description: |-
            Some routes will return information about the variant as defined in the
            project. Does not expand expansions; they will be returned as written in
            the project yaml (i.e. ${syntax})
          type: object
        display_name:
          description: Displayed title of the build showing version and variant running
          type: string
        finish_time:
          description: Time at which build finished running all tasks
          type: string
        git_hash:
          description: Hash of the revision on which this build is running
          type: string
        order:
          description: Incrementing counter of project's builds
          type: integer
        origin:
          description: "The source of the patch, a commit or a patch"
          type: string
        predicted_makespan_ms:
          description: Predicted makespan by the scheduler prior to execution
          type: integer
        project_id:
          description: The identifier of the project this build represents
          type: string
        project_identifier:
          type: string
        start_time:
          description: Time at which build started running tasks
          type: string
        status:
          description: "The status of the build (possible values are \"created\",\
            \ \"started\", \"success\", or \"failed\")"
          type: string
        status_counts:
          allOf:
          - $ref: '#/components/schemas/task.TaskStatusCount'
          description: |-
            Contains aggregated data about the statuses of tasks in this build. The
            keys of this object are statuses and the values are the number of tasks
            within this build in that status. Note that this field provides data that
            you can get yourself by querying tasks for this build.
          type: object
        tags:
          description: "List of tags defined for the build variant, if any"
          items:
            type: string
          type: array
        task_cache:
          description: |-
            Contains a subset of information about tasks for the build; this is not
            provided/accurate for most routes (get versions for project is an
            exception).
          items:
            $ref: '#/components/schemas/model.APITaskCache'
          type: array
        tasks:
          description: Tasks is the build's task cache with just the names
          items:
            type: string
          type: array
        time_taken_ms:
          description: How long the build took to complete all tasks
          type: integer
        version:
          description: The version this build is running tasks for
          type: string
      type: object
    model.APIBuildBaronSettings:
      properties:
        bf_suggestion_features_url:
          type: string
        bf_suggestion_password:
          type: string
        bf_suggestion_server:
          type: string
        bf_suggestion_timeout_secs:
          type: integer
        bf_suggestion_username:
          type: string
        ticket_create_issue_type:
          description: Type of ticket to create.
          type: string
        ticket_create_project:
          description: Jira project where tickets should be created.
          type: string
        ticket_search_projects:
          description: Jira project to search for tickets.
          items:
            type: string
          type: array
      type: object
    model.APICLIUpdate:
      example:
        ignore_update: true
        client_config:
          client_binaries:
          - os: os
            arch: arch
            display_name: display_name
            url: url
          - os: os
            arch: arch
            display_name: display_name
            url: url
          s3_client_binaries:
          - os: os
            arch: arch
            display_name: display_name
            url: url
          - os: os
            arch: arch
            display_name: display_name
            url: url
          latest_revision: latest_revision
      properties:
        client_config:
          $ref: '#/components/schemas/model.APIClientConfig'
        ignore_update:
          type: boolean
      type: object
    model.APIChildPatchAlias:
      example:
        patch_id: patch_id
        alias: alias
      properties:
        alias:
          type: string
        patch_id:
          type: string
      type: object
    model.APIClientBinary:
      example:
        os: os
        arch: arch
        display_name: display_name
        url: url
      properties:
        arch:
          type: string
        display_name:
          type: string
        os:
          type: string
        url:
          type: string
      type: object
    model.APIClientConfig:
      example:
        client_binaries:
        - os: os
          arch: arch
          display_name: display_name
          url: url
        - os: os
          arch: arch
          display_name: display_name
          url: url
        s3_client_binaries:
        - os: os
          arch: arch
          display_name: display_name
          url: url
        - os: os
          arch: arch
          display_name: display_name
          url: url
        latest_revision: latest_revision
      properties:
        client_binaries:
          items:
            $ref: '#/components/schemas/model.APIClientBinary'
          type: array
        latest_revision:
          type: string
        s3_client_binaries:
          items:
            $ref: '#/components/schemas/model.APIClientBinary'
          type: array
      type: object
    model.APICommitQueueParams:
      properties:
        enabled:
          description: Enable/disable the commit queue.
          type: boolean
        merge_method:
          description: "Method of merging (squash, merge, or rebase)."
          type: string
        message:
          description: Message to display when users interact with the commit queue.
          type: string
      type: object
    model.APIContainerOptions:
      example:
        image: image
        os: os
        working_dir: working_dir
        cpu: 6
        memory_mb: 1
        arch: arch
[...]
